<ion-header>
  <ion-navbar>
    <ion-title text-center>
      Pedidos
    </ion-title>
  </ion-navbar>
</ion-header>

  <ion-content>
   <ion-list inset >
    <button ion-item *ngFor="let x of pedidos; let i = index" (click)="pedidoDetalhe(x)" text-center>
    <ion-icon name="disc"> Pedido {{i+1}}</ion-icon>
  </button> 
  </ion-list>

    <!-- <ion-content class="card-background-page">
      <ion-card *ngFor='let x of pedidos'>
        <img src="../../assets/imgs/pedido.png">
        <div class="card-title">{{ x.mesa }}</div>
        <div class="card-subtitle">
           <b>{{ x[0].status }}</b>
        </div>
        <div class="card-subtitle2">{{x.numPedido}}</div>
      </ion-card>
    </ion-content> -->
  </ion-content>

