page-about {

}

img.statusPedidos {
    left: 30rem;
    width: 6rem;
}
.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
    background: #e3e4e5;
  }

  .card-title {
    position: absolute;
    top: 22%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle, .card-subtitle2 {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

  .card-subtitle2 {
      top: 74%;
      right: -40%;
  }
}