<ion-header>
    <ion-navbar>
        <ion-title>Àrea de Lanches</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <!--<img src="../../assets/imgs/lola cafe.png" class="logotipo">-->
    <ion-list>
        <ion-list-header text-center>
            <h2>Sanduíches</h2>
            <img src="../../assets/imgs/hamburguer.png" class="icon-list-header">
        </ion-list-header>
        <ion-item *ngFor='let x of sanduiches'>
            <ion-avatar item-start>
                <img src="../../assets/imgs/{{ x.img }}">
            </ion-avatar>

            <h2>{{x.nome}}</h2>
        
            <button ion-button icon-right (click)="verDetalheProd(x)" color="light">
                Detalhes
                <ion-icon name="open"></ion-icon>   
            </button>
           <button ion-button icon-right (click)="addCarrinho(x)" color="secondary">
                Adicionar
            <ion-icon name="add"></ion-icon>
            </button>
        </ion-item>
    </ion-list>

    <p>   
        <ion-list>
            <ion-list-header text-center>
                <h2>Pastéis</h2>
                <img src="../../assets/imgs/sanduiche.png" class="icon-list-header">
            </ion-list-header>
            <ion-item *ngFor='let x of pasteis'>
                <ion-avatar item-start>
                    <img src="../../assets/imgs/{{ x.img }}">
                </ion-avatar>

                <h2>{{x.nome}}</h2>
         
                <button ion-button icon-right (click)="verDetalheProd(x)" color="light">
                    Detalhes
                    <ion-icon name="open"></ion-icon>
                </button>
               <button ion-button icon-right (click)="addCarrinho(x)" color="secondary">
                    Adicionar
                    <ion-icon name="add"></ion-icon>
                </button>
            </ion-item>
        </ion-list>
    </p>
    
    <ion-fab right bottom>
        <button ion-fab color="blue"><ion-icon name="more"></ion-icon></button>
        <ion-fab-list side="left">
            <button ion-fab (click)="informaMesa()"><ion-icon name="locate"></ion-icon></button>
            <button ion-fab (click)="carrinhoPage()"><ion-icon name="cart"></ion-icon></button>
            <button ion-fab (click)="confirmaCompra()"><ion-icon name="checkmark"></ion-icon></button>
      </ion-fab-list>
  </ion-fab>
</ion-content>
