<ion-header>
  <ion-navbar>
    <ion-title>Àrea de Lanches</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
   <img src="../../assets/imgs/logotipo.png" class="logotipo">
  <ion-list>
    <ion-list-header>
      Sanduíches
    </ion-list-header>
    <ion-item *ngFor='let x of sanduiches'>
      <ion-avatar item-start (tap)="tapEvent(x)">
        <img src="../../assets/imgs/{{ x.img }}">
      </ion-avatar>
      <h2>{{x.nome}}</h2>
      <p><b>Preço: </b>R$  {{ x.preco }}</p>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
    	Pastéis
    </ion-list-header>
    <ion-item *ngFor='let x of pasteis'>
      <ion-avatar item-start>
        <img src="../../assets/imgs/{{ x.img }}">
      </ion-avatar>
      <h2>{{x.nome}}</h2>
      <p><b>Preço: </b>R$  {{ x.preco }}</p>
    </ion-item>
  </ion-list>
</ion-content>
