<!--
  Generated template for the CarrinhoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>carrinho</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <img *ngIf="carrinho_vazio" src="../../assets/imgs/ops.png">
  <button ion-button full *ngIf="carrinho_vazio" (click) = "abrirHome()">Lets bora as compras</button>

  <ion-list>
    <ion-item  *ngFor='let x of carrinho'>
      <ion-thumbnail item-start>
        <img src="../../assets/imgs/{{x.img}}">
      </ion-thumbnail>
      <h2> {{ x.nome }} </h2>
      <p>{{ x.preco }}</p>
      <button ion-button color="danger" item-end outline icon-only class="button-carrinho" (click)="removerItem(x)">
          <ion-icon name='trash' is-active="false"></ion-icon>
        </button>
        <button ion-button color="blue" item-end outline icon-only class="button-carrinho">
          <ion-icon name='create' is-active="false"></ion-icon>
        </button>
    </ion-item>
  </ion-list>
</ion-content>


